### Boolean Indexing

In [3]:
import pandas as pd 

movie = pd.read_csv('D:/python/Pandas/PandasCookbook_Code/data/movie.csv',index_col='movie_title')

movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'num_voted_users', 'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [4]:
movie_2_hours = movie['duration']>120

In [6]:
movie_2_hours.sum()

1039

In [7]:
movie_2_hours.mean()

0.2113506916192026

In [9]:
movie['duration'].dropna().gt(120).mean()

0.21199755152009794

In [10]:
movie.head()

                                            color      director_name  ...  aspect_ratio  movie_facebook_likes
movie_title                                                           ...
Avatar                                      Color      James Cameron  ...          1.78                 33000
Pirates of the Caribbean: At World's End    Color     Gore Verbinski  ...          2.35                     0
Spectre                                     Color         Sam Mendes  ...          2.35                 85000
The Dark Knight Rises                       Color  Christopher Nolan  ...          2.35                164000
Star Wars: Episode VII - The Force Awakens    NaN        Doug Walker  ...           NaN                     0

[5 rows x 27 columns]

In [13]:
movie[(movie['duration']>120) & (movie['actor_1_facebook_likes']>800)]

                                          color      director_name  ...  aspect_ratio  movie_facebook_likes
movie_title                                                         ...
Avatar                                    Color      James Cameron  ...          1.78                 33000
Pirates of the Caribbean: At World's End  Color     Gore Verbinski  ...          2.35                     0
Spectre                                   Color         Sam Mendes  ...          2.35                 85000
The Dark Knight Rises                     Color  Christopher Nolan  ...          2.35                164000
Spider-Man 3                              Color          Sam Raimi  ...          2.35                     0
...                                         ...                ...  ...           ...                   ...
The Good, the Bad and the Ugly            Color       Sergio Leone  ...          2.35                 20000
Rocket Singh: Salesman of the Year        Color        Shimit Amin  ...           NaN                   773
Rocky                                     Color   John G. Avildsen  ...          1.33                     0
Tom Jones                                 Color    Tony Richardson  ...          1.37                   328
Fireproof                                 Color      Alex Kendrick  ...          1.85                     0

[750 rows x 27 columns]


### Replicating boolean indexing with index selection

In [14]:
college = pd.read_csv('D:/python/Pandas/PandasCookbook_Code/data/college.csv')
college.head()

                                INSTNM        CITY STABBR  HBCU  ...  PCTFLOAN  UG25ABV  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
0             Alabama A & M University      Normal     AL   1.0  ...    0.8284   0.1049            30300               33888
1  University of Alabama at Birmingham  Birmingham     AL   0.0  ...    0.5214   0.2422            39700             21941.5
2                   Amridge University  Montgomery     AL   0.0  ...    0.7795   0.8540            40100               23370
3  University of Alabama in Huntsville  Huntsville     AL   0.0  ...    0.4596   0.2640            45500               24097
4             Alabama State University  Montgomery     AL   1.0  ...    0.7554   0.1270            26600             33118.5

[5 rows x 27 columns]

In [15]:
college[college['STABBR']=='TX'].head()

                            INSTNM        CITY STABBR  HBCU  ...  PCTFLOAN  UG25ABV  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
3610  Abilene Christian University     Abilene     TX   0.0  ...    0.5527   0.0381            40200               25985
3611       Alvin Community College       Alvin     TX   0.0  ...    0.0625   0.2841            34500                6750
3612              Amarillo College    Amarillo     TX   0.0  ...    0.1573   0.3431            31700               10950
3613              Angelina College      Lufkin     TX   0.0  ...    0.0000   0.2603            26900   PrivacySuppressed
3614       Angelo State University  San Angelo     TX   0.0  ...    0.5279   0.1407            37700             21319.5

[5 rows x 27 columns]

In [16]:
college2 = college.set_index('STABBR')

In [19]:
college2.loc['TX'].head()

                              INSTNM        CITY  HBCU  MENONLY  ...  PCTFLOAN  UG25ABV  MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
STABBR                                                           ...
TX      Abilene Christian University     Abilene   0.0      0.0  ...    0.5527   0.0381            40200               25985
TX           Alvin Community College       Alvin   0.0      0.0  ...    0.0625   0.2841            34500                6750
TX                  Amarillo College    Amarillo   0.0      0.0  ...    0.1573   0.3431            31700               10950
TX                  Angelina College      Lufkin   0.0      0.0  ...    0.0000   0.2603            26900   PrivacySuppressed
TX           Angelo State University  San Angelo   0.0      0.0  ...    0.5279   0.1407            37700             21319.5

[5 rows x 26 columns]

In [21]:
college2.index.is_monotonic

False

In [22]:
college3 = college2.sort_index()
college3.index.is_monotonic

True

In [24]:
%timeit college[college['STABBR']=='TX']

1.8 ms Â± 16.4 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

In [25]:
%timeit college2.loc['TX']

793 Âµs Â± 17 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

In [26]:
%timeit college3.loc['TX']

103 Âµs Â± 6.31 Âµs per loop (mean Â± std. dev. of 7 runs, 10000 loops each)

In [28]:
college.index=college['CITY']+','+college['STABBR']

In [30]:
%timeit college.loc['Miami,FL']

638 Âµs Â± 12.4 Âµs per loop (mean Â± std. dev. of 7 runs, 1000 loops each)

In [31]:
%timeit college[(college['CITY']=='Miami') & (college['STABBR']=='FL')]

3.02 ms Â± 112 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)