In [1]:
import pandas as pd 

movie = pd.read_csv('D:/python/Pandas/PandasCookbook_Code/data/movie.csv')
movie.head()

   color      director_name  num_critic_for_reviews  ...  imdb_score  aspect_ratio  movie_facebook_likes
0  Color      James Cameron                   723.0  ...         7.9          1.78                 33000
1  Color     Gore Verbinski                   302.0  ...         7.1          2.35                     0
2  Color         Sam Mendes                   602.0  ...         6.8          2.35                 85000
3  Color  Christopher Nolan                   813.0  ...         8.5          2.35                164000
4    NaN        Doug Walker                     NaN  ...         7.1           NaN                     0

[5 rows x 28 columns]

## Search for a string/value in a entire dataframe

In [3]:
movie[movie.eq('James Cameron').any(axis=1)]

      color  director_name  num_critic_for_reviews  ...  imdb_score  aspect_ratio  movie_facebook_likes
0     Color  James Cameron                   723.0  ...         7.9          1.78                 33000
26    Color  James Cameron                   315.0  ...         7.7          2.35                 26000
285   Color  James Cameron                   210.0  ...         8.5          2.35                 13000
288   Color  James Cameron                    94.0  ...         7.2          2.35                     0
599   Color  James Cameron                    82.0  ...         7.6          2.35                     0
2455  Color  James Cameron                   250.0  ...         8.4          1.85                 18000
3508  Color  James Cameron                   204.0  ...         8.1          1.85                 13000

[7 rows x 28 columns]

In [5]:
movie[movie.eq(1000.0).any(axis=1)].head()

    color   director_name  num_critic_for_reviews  ...  imdb_score  aspect_ratio  movie_facebook_likes
0   Color   James Cameron                   723.0  ...         7.9          1.78                 33000
1   Color  Gore Verbinski                   302.0  ...         7.1          2.35                     0
13  Color  Gore Verbinski                   313.0  ...         7.3          2.35                  5000
14  Color  Gore Verbinski                   450.0  ...         6.5          2.35                 48000
18  Color    Rob Marshall                   448.0  ...         6.7          2.35                 58000

[5 rows x 28 columns]

### List of all directors who made 10 films

In [7]:
movie['director_name'].value_counts().loc[lambda x:x==10]

John Carpenter        10
Paul W.S. Anderson    10
Stephen Frears        10
Wes Craven            10
John McTiernan        10
Bobby Farrelly        10
David Fincher         10
Name: director_name, dtype: int64

In [9]:
movie[movie['director_name'].isin(movie['director_name'].value_counts().loc[lambda x:x==10].index)]

      color       director_name  num_critic_for_reviews  ...  imdb_score  aspect_ratio  movie_facebook_likes
101   Color       David Fincher                   362.0  ...         7.8          2.35                 23000
212   Color      John McTiernan                    85.0  ...         6.6          2.35                     0
360   Color       David Fincher                   517.0  ...         7.8          2.35                 54000
361   Color      John McTiernan                   148.0  ...         7.6          2.35                     0
395   Color  Paul W.S. Anderson                   228.0  ...         5.8          2.35                 19000
...     ...                 ...                     ...  ...         ...           ...                   ...
3113  Color      Stephen Frears                   137.0  ...         7.4          1.85                     0
3316  Color          Wes Craven                   109.0  ...         6.4          1.85                     0
3530  Color      John Carpenter                   201.0  ...         7.2          2.35                     0
3826  Color      John Carpenter                   172.0  ...         7.3          2.35                 27000
4691  Color      Stephen Frears                    46.0  ...         6.9          1.66                     0

[70 rows x 28 columns]

### Filter rows with Nan values

In [14]:
import numpy as np
technologies= {
    'Courses':["Spark","PySpark","Spark","Python","PySpark","Java"],
    'Fee' :[22000,25000,np.nan,np.nan,np.nan,np.nan],
    'Duration':['30days',np.nan,'30days','N/A', np.nan,np.nan]
          }

df = pd.DataFrame(technologies)
df

   Courses      Fee Duration
0    Spark  22000.0   30days
1  PySpark  25000.0      NaN
2    Spark      NaN   30days
3   Python      NaN      N/A
4  PySpark      NaN      NaN
5     Java      NaN      NaN

### Filter out rows if two or more columns contain Null values

In [15]:
df.dropna(thresh=2)

   Courses      Fee Duration
0    Spark  22000.0   30days
1  PySpark  25000.0      NaN
2    Spark      NaN   30days
3   Python      NaN      N/A

### Filter out only Non nan values in Duration field

In [17]:
df.dropna(subset=['Duration'])

  Courses      Fee Duration
0   Spark  22000.0   30days
2   Spark      NaN   30days
3  Python      NaN      N/A

### Filter out only Nan values in Duration

In [18]:
df[pd.isnull(df['Duration'])]

   Courses      Fee Duration
1  PySpark  25000.0      NaN
4  PySpark      NaN      NaN
5     Java      NaN      NaN